#nav-toggle {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px 10px 20px 10px;
  margin: 0;
  background-color: white;
  z-index: 10; }
  @media screen and (min-width: 800px) {
    #nav-toggle {
      top: 34px;
      right: 50%;
      transform: translate(370px, 0); } }

#nav-tog-button,
#nav-tog-button::before,
#nav-tog-button::after {
  width: 23px;
  height: 4px;
  margin: 0;
  padding: 0; }

#nav-tog-button {
  position: relative; }

#nav-tog-button::before,
#nav-tog-button::after {
  position: absolute;
  left: 0;
  content: ''; }

#nav-toggle.off {
  background: none; }
  #nav-toggle.off #nav-tog-button,
  #nav-toggle.off #nav-tog-button::before,
  #nav-toggle.off #nav-tog-button::after {
    background-color: #8ac7c7;
    transition: all 0.2s ease; }
  #nav-toggle.off:hover #nav-tog-button, #nav-toggle.off:hover #nav-tog-button::before, #nav-toggle.off:hover #nav-tog-button::after {
    background-color: #8ac7c7; }
  #nav-toggle.off:active #nav-tog-button, #nav-toggle.off:active #nav-tog-button::before, #nav-toggle.off:active #nav-tog-button::after {
    background-color: #c78aa8; }
  #nav-toggle.off #nav-tog-button::before {
    top: -8px; }
  #nav-toggle.off #nav-tog-button::after {
    bottom: -8px; }

#nav-toggle.on {
  background: none; }
  #nav-toggle.on #nav-tog-button,
  #nav-toggle.on #nav-tog-button::before,
  #nav-toggle.on #nav-tog-button::after {
    background-color: #d04f2f;
    transition: all 0.2s ease; }
  #nav-toggle.on:hover #nav-tog-button, #nav-toggle.on:hover #nav-tog-button::before, #nav-toggle.on:hover #nav-tog-button::after {
    background-color: #d04f2f; }
  #nav-toggle.on:active #nav-tog-button, #nav-toggle.on:active #nav-tog-button::before, #nav-toggle.on:active #nav-tog-button::after {
    background-color: #8ac7c7; }
  #nav-toggle.on #nav-tog-button {
    background-color: inherit !important; }
  #nav-toggle.on #nav-tog-button::before,
  #nav-toggle.on #nav-tog-button::after {
    visibility: visible; }
  #nav-toggle.on #nav-tog-button::before {
    top: 0px;
    transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }
  #nav-toggle.on #nav-tog-button::after {
    bottom: 0px;
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg); }
  #nav-toggle.on #nav-bar {
    opacity: 1;
    transition: opacity 0.2s ease; }

#nav-screen {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  color: rgba(203, 211, 210, 0); }
  #nav-screen[active=n] {
    z-index: -5;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(203, 211, 210, 0);
    transition: all 0.2s ease; }
    #nav-screen[active=n] #nav-bar {
      opacity: 0;
      transition: opacity 0.3s ease; }
  #nav-screen[active=y] {
    z-index: 5;
    visibility: visible;
    opacity: 1;
    background-color: #CBD3D2;
    transition: opacity 0.2s ease, background-color 0.2s ease, z-index 0s, visibility 0s; }
    #nav-screen[active=y] #nav-bar {
      opacity: 1;
      transition: opacity 0.3s ease; }

#nav-bar {
  display: block;
  position: fixed;
  top: 90px;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 100%;
  transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  text-align: center;
  list-style: none; }

.nav-item,
.nav-item:link,
.nav-item:visited {
  display: block;
  margin: 0 auto 0 auto;
  padding: 12px 0 12px 0;
  color: #3B1C29; }

.nav-item:hover {
  color: white;
  background-color: #3B1C29; }

.nav-item:active {
  background-color: white;
  color: #3B1C29; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  color: #3a1d2a;
  font-family: "Palatino", "Palatino Linotype", "Times", "Times New Roman", serif;
  font-size: 16px;
  line-height: 23.2px; }

.carapace {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 400px) {
    .carapace {
      padding: 60px 0 0 0; }
      .carapace.bordered {
        border: 0; }
      .carapace.footer-bar {
        padding: 20px 10px 20px 10px; } }
  @media screen and (min-width: 400px) {
    .carapace {
      padding: 60px 0 0 0;
      max-width: 800px; } }
  @media screen and (min-width: 800px) {
    .carapace {
      padding: 35px 0 0 0; }
      .carapace.bordered {
        border-left: 5px solid #3a1d2a;
        border-right: 5px solid #3a1d2a; }
      .carapace.footer-bar {
        padding: 40px 10px 40px 10px; } }

.footer-bar a {
  font-style: normal;
  font-weight: bold; }
.footer-bar a, .footer-bar a:hover {
  color: #3a1d2a; }
.footer-bar a:active {
  color: #c78aa8; }
.footer-bar p {
  margin: 5px 0 5px 0; }

.page-head,
.head-group,
.head-section,
#site-title,
.nav-item {
  display: block;
  position: relative;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  line-height: 115%;
  font-family: Futura, Avenir, "Avenir Next", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

@media screen and (max-width: 800px) {
  #site-title {
    margin-top: 30px;
    font-size: 40px; } }
@media screen and (min-width: 800px) {
  #site-title {
    margin-top: 80px;
    font-size: 64px; } }

@media screen and (max-width: 800px) {
  .page-head,
  .nav-item {
    margin-top: 10px;
    font-size: 32px; } }
@media screen and (min-width: 800px) {
  .page-head,
  .nav-item {
    font-size: 36px; } }

.head-group {
  margin-top: 60px;
  font-size: 21.6px; }

.head-section {
  margin-top: 30px;
  font-size: 16px; }

.text-block {
  position: relative;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px; }
  .text-block p, .text-block ul, .text-block ol {
    max-width: 450px;
    margin: 15px auto 15px auto;
    padding: 0; }
    .text-block p:last-child, .text-block ul:last-child, .text-block ol:last-child {
      margin-bottom: 0; }
  .text-block p, .text-block li {
    text-align: justify;
    font-size: 16px;
    line-height: 23.2px; }
  .text-block ul, .text-block ol {
    padding-left: 15px; }
  .text-block:empty {
    display: none; }
  .text-block.home-block {
    margin: 60px 0 60px 0;
    font-family: Futura, Avenir, "Avenir Next", Verdana, Helvetica, Arial, sans-serif; }
    .text-block.home-block p {
      text-align: center; }

a {
  text-decoration: none;
  border: none;
  color: #8ac7c7;
  /* &:visited { */
  /*     color: $color_cyan; */
  /* } */ }
  a:hover, a:active {
    color: #c78aa8; }

#home-bar-bot {
  position: fixed;
  width: 100%;
  bottom: 20px; }

.image-block {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 40px 0 40px 0; }

.img-wrap {
  width: 100%; }

.slide-img {
  display: block;
  max-width: 90%;
  max-height: 85vh;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .slide-img {
      max-width: 100%; } }
  @media screen and (min-width: 800px) {
    .slide-img {
      max-width: 90%; } }

.image-caption {
  margin: 10px 15px 10px 15px;
  padding: 0;
  font-size: 13.6px;
  line-height: 23.2px; }
  .image-caption + .image-caption {
    margin-top: 0; }
  .image-caption .img-capt-ttl {
    font-style: italic; }
  .image-caption .img-capt-dtls {
    font-weight: normal; }

.copyright-line {
  font-size: 13.6px;
  font-style: normal; }

.fullscreen-slide {
  position: relative;
  height: 100vh;
  width: 100vw; }
  @media screen and (max-width: 400px) {
    .fullscreen-slide {
      background: center center / cover no-repeat; } }
  @media screen and (min-width: 400px) {
    .fullscreen-slide {
      background: center top / cover fixed no-repeat; } }

.bg-body-wash {
  background: center bottom / cover fixed no-repeat;
  background-image: url("/images/wash-pink-orange.png"); }

#slide-apollo {
  background-image: url("/images/Apollo-1_Brooks-Cashbaugh.jpg"); }

/*# sourceMappingURL=main.css.map */
