#nav-toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px 20px 20px 20px;
  margin: 0;
  z-index: 10; }

#nav-tog-button,
#nav-tog-button::before,
#nav-tog-button::after {
  width: 23px;
  height: 4px;
  margin: 0;
  padding: 0; }

#nav-tog-button {
  position: relative; }

#nav-tog-button::before,
#nav-tog-button::after {
  position: absolute;
  left: 0;
  content: ''; }

#nav-toggle.off #nav-tog-button,
#nav-toggle.off #nav-tog-button::before,
#nav-toggle.off #nav-tog-button::after {
  background-color: magenta;
  transition: all 0.2s ease; }
#nav-toggle.off:hover #nav-tog-button, #nav-toggle.off:hover #nav-tog-button::before, #nav-toggle.off:hover #nav-tog-button::after {
  background-color: cyan; }
#nav-toggle.off:active #nav-tog-button, #nav-toggle.off:active #nav-tog-button::before, #nav-toggle.off:active #nav-tog-button::after {
  background-color: yellow; }
#nav-toggle.off #nav-tog-button::before {
  top: -8px; }
#nav-toggle.off #nav-tog-button::after {
  bottom: -8px; }

#nav-toggle.on #nav-tog-button,
#nav-toggle.on #nav-tog-button::before,
#nav-toggle.on #nav-tog-button::after {
  background-color: magenta;
  transition: all 0.2s ease; }
#nav-toggle.on:hover #nav-tog-button, #nav-toggle.on:hover #nav-tog-button::before, #nav-toggle.on:hover #nav-tog-button::after {
  background-color: yellow; }
#nav-toggle.on:active #nav-tog-button, #nav-toggle.on:active #nav-tog-button::before, #nav-toggle.on:active #nav-tog-button::after {
  background-color: red; }
#nav-toggle.on #nav-tog-button {
  background-color: inherit !important; }
#nav-toggle.on #nav-tog-button::before,
#nav-toggle.on #nav-tog-button::after {
  visibility: visible; }
#nav-toggle.on #nav-tog-button::before {
  top: 0px;
  transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg); }
#nav-toggle.on #nav-tog-button::after {
  bottom: 0px;
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

#nav-screen {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  text-align: center; }

#nav-screen[active=n] {
  z-index: -5;
  visibility: hidden;
  opacity: 0;
  color: rgba(0, 255, 255, 0);
  background-color: rgba(0, 255, 255, 0);
  transition: all 0.3s ease; }

#nav-screen[active=y] {
  z-index: 5;
  visibility: visible;
  opacity: 1;
  color: #444444;
  background-color: cyan;
  transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease, z-index 0s, visibility 0s; }

#nav-bar {
  position: relative;
  display: block;
  top: 100px;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 100%;
  transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  text-align: center;
  list-style: none; }
  @media screen and (max-width: 400px) {
    #nav-bar {
      top: 60px; } }

.nav-item,
.nav-item:link,
.nav-item:visited {
  display: block;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
  color: inherit; }

.nav-item:hover {
  color: white;
  background-color: #444444; }

.nav-item:active {
  color: magenta;
  background-color: yellow; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  color: #444444;
  font-family: "Palatino", "Palatino Linotype", "Times New Roman", "Times", serif;
  font-size: 16px/1.45; }

/*
 * This is extended by both #carapace and #nav-case.
 */
.bordered, #carapace {
  position: relative;
  margin: 0 auto; }
  @media screen and (max-width: 400px) {
    .bordered, #carapace {
      width: 100%;
      border: 0; } }
  @media screen and (min-width: 400px) {
    .bordered, #carapace {
      max-width: 800px; } }
  @media screen and (min-width: 800px) {
    .bordered, #carapace {
      width: 100%;
      border-left: 5px solid #444444;
      border-right: 5px solid #444444; } }

#carapace {
  padding: 120px 0 80px 0;
  text-align: center; }

/*
img {
		max-width: 100%;
		max-height: 100%;
}
*/
a {
  text-decoration: none;
  border: none; }

a.box-link {
  margin: 0;
  padding: 0; }

h1, .nav-item {
  display: block;
  position: relative;
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  line-height: 96%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 90%; }
  @media screen and (max-width: 800px) {
    h1, .nav-item {
      font-size: 32px; } }
  @media screen and (min-width: 800px) {
    h1, .nav-item {
      font-size: 48px; } }

.text-block {
  position: relative;
  margin: 40px 0 40px 0; }

.image-block {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 60px 0 60px 0;
  /* border: { */
  /* 		top: 1px solid; */
  /* 		bottom: 1px solid; */
  /* } */ }

.img-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%; }

.slide-img {
  display: block;
  max-width: 90%;
  max-height: 85vh;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .slide-img {
      max-width: 100%; } }
  @media screen and (min-width: 800px) {
    .slide-img {
      max-width: 90%; } }

.text-block {
  padding: 0 20px 0 20px; }

.text-block p {
  text-align: justify;
  max-width: 450px;
  margin: 15px auto 15px auto;
  padding: 0;
  font: normal normal normal 16px/1.45 "Palatino", "Palatino Linotype", "Times New Roman", "Times", serif; }
  .text-block p:last-child {
    margin-bottom: 0; }

.image-caption {
  margin-bottom: 0;
  font: normal normal bold 13.6px/1.45 "Palatino", "Palatino Linotype", "Times New Roman", "Times", serif; }
