@import "main";


#show-case {
		width: $full_width;
		height: $full_height;
		min-height: $full_height;
		@include block_margin(0, auto);
}


.show-box {
		position: relative;
		@include block_padding(0);
		@include block_margin(0);
		display: inline-block;
		text-align: center;

		@media screen and (max-width: $scale_break) {
				width: $full_width;
				height: $most_height;
		}

		@media screen and (min-width: ($scale_break + 1)) and (max-width: #{$scale_break_n * 3}#{block_unit}) {
				width: ($half_width - 1);
				height: $most_height;
		}

		@media screen and (min-width: (#{$scale_break_n * 3}#{block_unit} + 1)) and (max-width: #{$scale_break_n * 4}#{block_unit}) {
				width: ($quarter_width - 1);
				height: $full_height;
		}
}


.show-screen {
		position: absolute;
		top: 0;
		left: 0;
		width: $full_width;
		height: $full_height;
		background-color: $black_overlay_light;
		transition: $overlay_transition;
		z-index: 10;
}

.show-screen:hover {
		background-color: $black_overlay_none;
		transition: $overlay_transition;
}


.show-caption {
		position: absolute;
		top: 32%;
		left: 0;
		@include translate(0, -50%);
		width: $full_width;
		@include block_margin(0, auto);
		@include block_padding(2);
		z-index: 10;
		font: $stripe_font_line;
		color: $color_white;
		background-color: $yellow_overlay_none;
}

.show-screen:hover .show-caption {
		color: $color_red;
		background-color: $yellow_overlay_full;
		transition: $overlay_transition;
}


.show-img {
		width: $full_width;
		height: $full_height;
		@include block_margin(0);
		@include block_padding(0);
		z-index: 0;
		background: {
				size: cover;
				position: 50% 50%;
		}
		text-align: center;
}
