@import "main";


#home-slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: center top url('/images/Apollo-1_Brooks-Cashbaugh.jpg') fixed;
}



#home-bar-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: grid_spacing(8);
    background-color: $color_white;
}



.body-bar {
		position: relative;
		margin: 0 auto;

		text-align: center;

		@media screen and (max-width: scale_break(1)) {
				width: $full_width;
        padding: block_spacing(5, 0);
				border: 0;

        &.footer-bar {
		        padding: block_spacing(2, 1);
        }
		}

		@media screen and (min-width: scale_break(1)) {
		    padding: block_spacing(5, 0);
				max-width: scale_break(2);
		}

		@media screen and (min-width: scale_break(2)) {
				width: $full_width;
		    padding: block_spacing(8, 0, 8, 0);

        &.footer-bar {
		        padding: block_spacing(4, 1);
        }
		}
}



#show-case {
    margin: block_spacing(1);
    padding: block_spacing(1);

    background-color: $color_white;

		@media screen and (max-width: scale_break(2)) {
        position: relative;
		}

		@media screen and (min-width: scale_break(2)) {
        position: relative;
				width: ($half_width - 1);
		}
}



#copy-case {
		padding: block_spacing(1);
    background-color: $color_white;
		text-align: left;

		@media screen and (max-width: scale_break(1)) {
        position: relative;
        margin: 0;
        width: 100%;
				font-size: font-size(2);
		}

		@media screen and (min-width: scale_break(1)) and (max-width: scale_break(2)) {
        max-width: 75%;
		}

		@media screen and (min-width: scale_break(2)) {
        position: absolute;
        top: grid_spacing(2);
        left: 0;
        max-width: $half_width;
				font-size: font-size(3);
		}
}



.home-head {
    position: relative;
    margin: block_spacing(1, 0);
    padding: 0;
    font-weight: 800;

		@media screen and (max-width: scale_break(2)) {
				font-size: font-size(2);
		}

		@media screen and (min-width: scale_break(2)) {
				font-size: font-size(3);
		}
}



#copy-case p {
		text-align: justify;
		margin: block_spacing(1.5, 0);
		padding: 0;
		font: $body_font_line;

    &:last-child {
        margin-bottom: grid_spacing(1);
    }
}



#home-bar-bot {
    position: relative;
    width: 100%;
    background-color: $color_white;
}
