@import "base/blocks";
@import "base/colors";
@import "base/fonts";
@import "base/nav";



* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}



body {
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0;

		text-align: center;

		background-color: $color_white;
		color: $color_black;

		font: {
				family: $font_stack;
				size: font_size();
		}

    line-height: font_size(1.45);
}



.carapace {
		position: relative;
		margin: 0 auto;
		width: 100%;

		text-align: center;

		@media screen and (max-width: scale_break(1)) {
        padding: block_spacing(6, 0, 0, 0);
		}

		@media screen and (min-width: scale_break(1)) {
		    padding: block_spacing(6, 0, 0, 0);
				max-width: scale_break(2);
		}

		@media screen and (min-width: scale_break(2)) {
		    padding: block_spacing(3.5, 0, 0, 0);
		}
}



.footer-bar {
    & a {
        font-style: normal;
        font-weight: bold;
    }

    & a,
    & a:hover {
        color: $color_black;
    }

    & a:active {
        color: $color_magenta;
    }

    p {
        margin: block_spacing(0.5, 0);
    }
}



.page-head,
.head-group,
.head-section,
#site-title,
.nav-item {
		display: block;
		position: relative;
		margin: block_spacing(0);
		padding: block_spacing(0, 1);

		line-height: 115%;

    font-family: $head_font;
		font-weight: bold;
		text-transform: uppercase;
}



#site-title {
		@media screen and (max-width: scale_break(2)) {
		    margin-top: grid_spacing(3);
				font-size: font-size(2.5);
		}

		@media screen and (min-width: scale_break(2)) {
		    margin-top: grid_spacing(8);
				font-size: font-size(4);
		}
}



.page-head,
.nav-item {
		@media screen and (max-width: scale_break(2)) {
		    margin-top: grid_spacing(1);
				font-size: font-size(2);
		}

		@media screen and (min-width: scale_break(2)) {
				font-size: 36px;
		}
}



.head-group {
		margin-top: grid_spacing(6);
		font-size: font-size(1.35);
}



.head-section {
		margin-top: grid_spacing(3);
		font-size: font-size(1);
}



.text-block {
		position: relative;
		margin: block_spacing(4, 0);
		padding: block_spacing(0, 2);

    & p,
    & ul,
    & ol {
		    max-width: grid_spacing(45);
		    margin: block_spacing(1.5, auto);
		    padding: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & p,
    & li {
		    text-align: justify;
		    font-size: font_size();
        line-height: font_size(1.45);
    }

    & ul,
    & ol {
		    padding-left: grid_spacing(1.5);
    }

    &:empty {
        display: none;
    }


    &.home-block {
        margin: block_spacing(6, 0);
        font-family: $head_font;

        p {
            text-align: center;
        }
    }
}



a {
		text-decoration: none;
		border: none;

    color: $color_cyan;

    &:hover,
    &:active {
        color: $color_magenta;
    }

    /* &:visited { */
    /*     color: $color_cyan; */
    /* } */
}





#home-bar-bot {
    position: fixed;
    width: 100%;
    bottom: grid_spacing(0);
}



.image-block {
		position: relative;
		min-height: 100vh;
		width: 100%;
		margin: block_spacing(8, 0);

    &:first-of-type {
        margin-top: grid_spacing(12);
    }
}



.img-wrap {
		// @include abs_cent;
		width: 100%;
}



.slide-img {
		display: block;

		max-width: 90%;
		max-height: 85vh;
		margin: block_spacing(0, auto);
		padding: 0;

		text-align: center;

		@media screen and (max-width: scale_break(2)) {
				max-width: 100%;
		}

		@media screen and (min-width: scale_break(2)) {
				max-width: 90%;
		}
}



.image-caption {
    margin: block_spacing(1, 1.5);
    padding: 0;

    font-size: font_size(0.85);
    line-height: font_size(1.45);

    & + & {
        margin-top: 0;
    }

    & .img-capt-ttl {
		    font-style: italic;
    }

    & .img-capt-dtls {
        font-weight: normal;
    }
}



.copyright-line {
		padding: block_spacing(4, 1, 2, 1);
    font-size: font_size(0.85);
    font-style: normal;
}



.fullscreen-slide {
    position: relative;
    height: 100vh;
    width: 100vw;

		@media screen and (max-width: scale_break(1)) {
        background: center center / cover no-repeat;
    }

		@media screen and (min-width: scale_break(1)) {
        background: center top / cover fixed no-repeat;
    }
}


.bg-body-wash {
    background: center bottom / cover fixed no-repeat;
    background-image: url('/images/wash-pink-orange.png');
}


#slide-apollo {
    background-image: url('/images/Apollo-1_Brooks-Cashbaugh.jpg');
}
