@import "base/blocks";
@import "base/colors";
@import "base/fonts";
@import "base/nav";



* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}



body {
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0;

		text-align: center;

		background-color: $color_white;
		color: $color_black;

		font: {
				family: $font_stack;
				size: font_size();
		}

    line-height: font_size(1.45);
}



.carapace {
		position: relative;
		margin: 0 auto;
		width: 100%;

		text-align: center;

		@media screen and (max-width: scale_break(1)) {
        padding: block_spacing(6, 0, 0, 0);

        &.bordered {
            border: 0;
        }

        &.footer-bar {
		        padding: block_spacing(2, 1);
        }
		}

		@media screen and (min-width: scale_break(1)) {
		    padding: block_spacing(6, 0, 0, 0);
				max-width: scale_break(2);
		}

		@media screen and (min-width: scale_break(2)) {
		    padding: block_spacing(4, 0, 0, 0);

        &.bordered {
		        border: {
						left: 5px solid $color_black;
						right: 5px solid $color_black;
				}
        }

        &.footer-bar {
		        padding: block_spacing(4, 1);
        }
		}
}



.page-head,
.nav-item {
		display: block;
		position: relative;
		margin: block_spacing(0);
		padding: block_spacing(0, 1);

		line-height: 90%;

		font-weight: bold;
		text-transform: uppercase;

		@media screen and (max-width: scale_break(2)) {
		    margin-top: grid_spacing(3);
				font-size: font-size(2);
		}

		@media screen and (min-width: scale_break(2)) {
				font-size: font-size(3);
		}
}



.text-block {
		position: relative;
		margin: block_spacing(4, 0);
		padding: block_spacing(0, 2);

    & p {
		    max-width: grid_spacing(45);
		    margin: block_spacing(1.5, auto);
		    padding: 0;

		    text-align: justify;
		    font-size: font_size();
        line-height: font_size(1.45);

        &:last-child {
            margin-bottom: 0;
        }
    }
}



a {
		text-decoration: none;
		border: none
}







#home-bar-bot {
    position: relative;
    width: 100%;
    background-color: $color_white;
}




.image-block {
		position: relative;
		min-height: 100vh;
		width: 100%;
		margin: block_spacing(6, 0);
}



.img-wrap {
		@include abs_cent;
		width: 100%;
}



.slide-img {
		display: block;

		max-width: 90%;
		max-height: 85vh;
		margin: block_spacing(0, auto);
		padding: 0;

		text-align: center;

		@media screen and (max-width: scale_break(2)) {
				max-width: 100%;
		}

		@media screen and (min-width: scale_break(2)) {
				max-width: 90%;
		}
}



.image-caption {
    margin-bottom: 0;
		font-weight: bold;
    font-size: font_size(0.85);
    line-height: font_size(1.45);

    & + & {
        margin-top: 0;
    }

    & .img-capt-ttl {
        font-weight: bold;
    }

    & .img-capt-dtls {
        font-weight: normal;
    }
}



.fullscreen-slide {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: center top / cover fixed no-repeat;
}


#slide-apollo {
    background-image: url('/images/Apollo-1_Brooks-Cashbaugh.jpg');
}
