<div class="image-block">
    <div class="img-wrap">
        <img class="slide-img" src="<%= self._file.get_out_val %>" />
        <p class="image-caption"><span class="img-capt-ttl"><%= self._title.get_out_val %></span>. <span class="img-capt-dtls"><%= self._caption.get_out_val %></span>.</p>
    </div>
</div>
