Options +FollowSymlinks

DirectoryIndex /public/home.html
ErrorDocument 404 /public/404.html

RewriteEngine On

RewriteRule ^\.htaccess$ - [F]

RewriteRule ^css/(.+)$ /public/css/$1 [NC]
RewriteRule ^img/(.+)$ /public/img/$1 [NC]
RewriteRule ^js/(.+)$ /public/js/$1 [NC]
RewriteRule ^misc/(.+)$ /public/misc/$1 [NC]

# If it's not an existing directory...
RewriteCond %{REQUEST_FILENAME} !-d
# and not an existing file...
RewriteCond %{REQUEST_FILENAME} !-f
# then assume it's a page.
RewriteRule ^([-A-Z0-9a-z]+)$ /public/$1.html [L]
