$full_width: 100%;
$most_width: 85%;
$half_width: 50%;
$quarter_width: 25%;

$full_height: 100%;
$most_height: 85%;
$half_height: 50%;
$third_height: 33%;
$quarter_height: 25%;


$block_base_n: 10;

$block_unit: px;

$scale_break_n: 400;
$scale_break: #{$scale_break_n}#{$block_unit};



@function scale_break($n: 1) {
		@return #{$scale_break_n * $n}#{$block_unit};
}



@function grid_spacing($n: 1) {
		@return #{$block_base_n * $n}#{$block_unit};
}


@function block_spacing($top: 0, $right: null, $bottom: null, $left: null) {
		$right: if($right == null, $top, $right);
		$bottom: if($bottom == null, $top, $bottom);
		$left: if($bottom == null, 0, $right);

		$top_p: if($top == 0, 0, #{$top * $block_base_n}#{$block_unit});
		$bottom_p: if($bottom == 0, 0, #{$bottom * $block_base_n}#{$block_unit});
		$right_p: $right;
		$left_p: $left;

		@if $right == auto {$right_p: $right;}
		@else if $right == 0 {$right_p: 0;}
		@else {$right_p: #{$right * $block_base_n}#{$block_unit};}

		@if $left == auto {$left_p: $left;}
		@else if $left == 0 {$left_p: 0;}
		@else {$left_p: #{$left * $block_base_n}#{$block_unit};}

		@return $top_p $right_p $bottom_p $left_p;
}



@mixin translate($lr, $tb) {
		transform: translate($lr, $tb);
		-webkit-transform: translate($lr, $tb);
}

@mixin rotate($n) {
		transform: rotate($n);
		-webkit-transform: rotate($n);
}
