$font_stack: 'Helvetica', 'Helvetica Neue', Arial, sans-serif;

$head_font: Futura, Avenir, 'Avenir Next', Verdana, Helvetica, Arial, sans-serif;

$base_font_n: 16;
$font_unit: px;

@function font_size($n: 1) {
		@return #{$base_font_n * $n}#{$font_unit};
}
