<div class="carapace footer-bar">
    <p class="copyright-line">&copy; 2012&ndash;<span id="copyright-current-year"></span>&nbsp;Brooks&nbsp;Cashbaugh. All&nbsp;rights&nbsp;reserved.</p>

    <script>
     document.getElementById('copyright-current-year').innerHTML = (new Date()).getFullYear();
    </script>
</div>
