<title>Brooks Cashbaugh // <%= self._meta._title.get_out_val %></title>

<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1, width=device-width" />

<link rel="stylesheet" type="text/css" href="/css/main.css" />

<script type="text/javascript" src="/js/ScrollMonitor.js"></script>
<script type="text/javascript" src="/js/clattr.js"></script>
<script type="text/javascript" src="/js/nav.js"></script>
