<div id="nav-screen" active="n">
    <ul id="nav-bar">
                                    <a class="nav-item" href="/home"><li>Brooks Cashbaugh</li></a>
                                            <a class="nav-item" href="/service-economy"><li>Service Economy</li></a>
                                            <a class="nav-item" href="/2014-2015"><li>2014–2015</li></a>
                                            <a class="nav-item" href="/2012-2013"><li>2012–2013</li></a>
                                            <a class="nav-item" href="https://www.instagram.com/brookscashbaugh/" target="_blank"><li>Instagram</li></a>
                  </ul>
</div>
